# Ignore compiled files
*.o
*.out

# Ignore temporary files
*~
__pycache__/
catboost_info/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore build output directories
build/
dist/

# Ignore dependency directories
node_modules/
vendor/

# Ignore log files
*.log

# Ignore key files
*.key
*.pem
*.env
secrets/

# Ignore venv
venv/
ml_venv/
st_venv/
server_venv/

# Ignore rental prices
rental_prices/

# Ignore server logs
logs/

# Ignore k8s secrets except the template
*secrets*.yaml
!secrets.template.yaml

# Ignore training data
*training*.csv